.form-nombre {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}

.form-genero {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}

.form-texto {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}

.form-tel {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}

.form-email {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}

.form-coment {
    font-weight: bold; 
    color:rgb(13, 16, 155);
}